# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `police shootings` dataset using `pandas`.

In [1]:
import pandas as pd

In [3]:
killings = pd.read_csv('/Users/Reid/DS-SF-32/dataset/police-killings.csv')
killings.head()

,Unnamed: 0,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,lawenforcementagency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930
2,2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Kenosha Police Department,Gunshot,No,54930
3,3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,South Gate Police Department,Gunshot,Firearm,55909
4,4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Kent Police Department,Gunshot,No,49669

#### A) Starter question: Display a few lines of the dataset to the screen.


#### 1. Make the following changed to column names:

+ lawenforcementagency -> agency
+ raceethnicity        -> race


#### 2. Show the count of missing values in each column

#### 3. replace each null value in the dataframe with the string "Unknown"

#### 4. How many killings were there so far in 2015?

#### 5. Of all killings, how many were male and how many female?

#### 6. How many killings were of unarmed people?

#### 7. What percentage of all killings were unarmed?

#### 8. What are the 5 states with the most killings?

#### 9. Show a value counts of deaths for each race

#### 10. Display a histogram of ages of all killings

#### 11. Show 6 histograms of ages by race

#### 12. What is the average age of death by race?

#### 13. Show a bar chart with counts of deaths every month