### Inferential Statistics Challenge

In [3]:
import pandas as pd

df = pd.read_csv("/Users/Reid/DS-SF-32/dataset/police-killings.csv")

In [25]:
df.head()

,Unnamed: 0,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,lawenforcementagency,cause,armed,county_income
0,0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,Millbrook Police Department,Gunshot,No,54766
1,1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Rapides Parish Sheriff's Office,Gunshot,No,40930
2,2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Kenosha Police Department,Gunshot,No,54930
3,3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,South Gate Police Department,Gunshot,Firearm,55909
4,4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Kent Police Department,Gunshot,No,49669

### Challenge 1

+ Calculate The Standard Deviation For Age
+ Without using the standard deviation function

### Challenge 2

+ Check to see if age is normally distributed

### Challenge 3

+ Write your own code for a t-test, manually
+ Are white victims significantly older or younger than non-white victims?