In [12]:
import numpy as np

students = ["Jordan", "Efron",  "Himani", "Farwa",
           "Greg", "Chris", "Michael"]

In [5]:
GOGETTERS = ['IRIS', "JAMIE", "CARTER"]

In [6]:
THECHOSEN = np.random.choice(GOGETTERS)

print THECHOSEN

GOGETTERS = [i for i in THECHOSEN if i not in THECHOSEN]

print len(GOGETTERS)

IRIS
0

In [20]:
THECHOSEN = np.random.choice(students)

print THECHOSEN

students = [i for i in students if i not in THECHOSEN]

print len(students)

Farwa
0

In [19]:
students

['Farwa']

In [5]:
students2 = ["Neel", "Jordan", "Rick", "Brianna", "Efron", "Jamie", "Himani", 
           "Kevin", "Melanie", "Ashwini", "Aamir", "Greg", "Chris", "Avery", 
           "Niyi", "Carter", "Tanner"]



#students2 = ["Neel", "Jordan", "Farwa", "Richard", "Rick, ""Brianna", "Efron", "Jamie", "Himani", 
#           "Kevin", "Melanie", "Ashwini", "Aamir", "Greg", "Micheal", "Chris", "Avery", 
#           "Niyi", "Carter", "Tanner", "Iris"]

In [7]:
THECHOSEN2 = np.random.choice(students)

print THECHOSEN2

students2 = [i for i in students2 if i not in THECHOSEN2]

print len(students)

Avery
16

In [11]:
Returned = ['Melanie', 'Michael', 'Kevin', 'Jamie', 
            'Farwa', 'Carter', 'Ashwini', 'Greg', 'Jordan', 'Chris', 'Niyi', 'Neel', "Tanner"]

students2 = ["Neel", "Jordan", "Farwa", "Richard", "Rick", "Brianna", "Efron", "Jamie", "Himani", 
           "Kevin", "Melanie", "Ashwini", "Aamir", "Greg", "Michael", "Chris", "Avery", 
           "Niyi", "Carter", "Tanner", "Iris"]

In [12]:
missing = [i for i in students2 if i not in Returned]

missing

['Richard', 'Rick', 'Brianna', 'Efron', 'Himani', 'Aamir', 'Avery', 'Iris']