In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

/Users/jamiew/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

### Walmart Sales Data

For the independent practice, we will analyze the weekly sales data from Walmart over a two year period from 2010 to 2012.

The data is again separated by store and by department, but we will focus on analyzing one store for simplicity.

The data includes:

- Store - the store number
- Dept - the department number
- Date - the week
- Weekly_Sales -  sales for the given department in the given store
- IsHoliday - whether the week is a special holiday week

#### Loading the data and setting the DateTimeIndex

In [3]:
data = pd.read_csv('train.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
data.head()

            Store  Dept  Weekly_Sales IsHoliday
Date
2010-02-05      1     1      24924.50     False
2010-02-12      1     1      46039.49      True
2010-02-19      1     1      41595.55     False
2010-02-26      1     1      19403.54     False
2010-03-05      1     1      21827.90     False

#### Filter the dataframe to Store 1 sales and aggregate over departments to compute the total sales per store.

In [16]:
# TODO
store1_data = data[data.Store == 1]

total_weekly_sales = data[['Weekly_Sales']].resample('D').sum()

store1_data.head()



#total_daily_sales.expanding().sum()['2014-12'].head() #This will give us total sales

            Store  Dept  Weekly_Sales IsHoliday
Date
2010-02-05      1     1      24924.50     False
2010-02-12      1     1      46039.49      True
2010-02-19      1     1      41595.55     False
2010-02-26      1     1      19403.54     False
2010-03-05      1     1      21827.90     False

In [28]:
data.groupby('Dept')['Weekly_Sales'].sum().head()

Dept
1    1.236388e+08
2    2.806112e+08
3    7.589245e+07
4    1.671467e+08
5    1.356074e+08
Name: Weekly_Sales, dtype: float64

In [25]:
store1_data['Weekly_Sales'].resample('W').sum().head()

Date
2010-02-07    1643690.90
2010-02-14    1641957.44
2010-02-21    1611968.17
2010-02-28    1409727.59
2010-03-07    1554806.68
Freq: W-SUN, Name: Weekly_Sales, dtype: float64

In [26]:
store1_data.groupby(store1_data.index)['Weekly_Sales'].sum().head() #summing across the different departments - what's the difference 
#anchor point for the date changed- you get the Sunday

Date
2010-02-05    1643690.90
2010-02-12    1641957.44
2010-02-19    1611968.17
2010-02-26    1409727.59
2010-03-05    1554806.68
Name: Weekly_Sales, dtype: float64

#### Plot the rolling_mean for `Weekly_Sales`. What general trends do you observe?

In [27]:
# TODO
total_weekly_sales[['Weekly_Sales']].resample('W').mean().rolling(window=7, center=True).mean().head()

            Weekly_Sales
Date
2010-02-07           NaN
2010-02-14           NaN
2010-02-21           NaN
2010-02-28  4.687412e+07
2010-03-07  4.607172e+07

#### Compute the 1, 2, 52 autocorrelations for `Weekly_Sales` and/or create an autocorrelation plot.

In [30]:
# TODO
total_weekly_sales['Weekly_Sales'].resample('W').mean().autocorr(lag=1)#going back 1 days

0.33778791447009809

In [31]:
# TODO
total_weekly_sales['Weekly_Sales'].resample('W').mean().autocorr(lag=2)#going back 2 days

0.2210480497941481

In [32]:
# TODO
total_weekly_sales['Weekly_Sales'].resample('W').mean().autocorr(lag=52)#going back 52 days

0.92615723992613708

#### Split the weekly sales data in a training and test set - using 75% of the data for training

In [ ]:
# TODO

#### Create an AR(1) model on the training data and compute the mean absolute error of the predictions.

In [ ]:
import statsmodels.api as sm
from sklearn.metrics import mean_absolute_error

In [ ]:
# TODO

#### Plot the residuals - where are their significant errors.

In [ ]:
# TODO

In [ ]:
# TODO

#### Compute and AR(2) model and an ARMA(2, 2) model - does this improve your mean absolute error on the held out set.

In [ ]:
# TODO

In [ ]:
# TODO

#### Finally, compute an ARIMA model to improve your prediction error - iterate on the p, q, and parameters comparing the model's performance.

In [ ]:
# TODO